[submodule "third_party/Js2Py"]
	path = third_party/Js2Py
	url = git@github.com:PiotrDabkowski/Js2Py.git
[submodule "third_party/pyjsparser"]
	path = third_party/pyjsparser
	url = git@github.com:PiotrDabkowski/pyjsparser.git
